html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 800px;
	margin: auto;
	font-family:Microsoft JhengHei;
}
.header{
	margin-top: 20px;
	height: 70px;
	background: url(../images/bg.png) ;
	background-size: 100% 100% ;
	background-repeat: no-repeat;
}
.logo a{
	width: 400px;
	height: 69px;	
	display:block;
	text-indent:-9999px;
	background: url(../images/logo.jpg) 90% 50% no-repeat ;
	float:left;
	margin-right: 30px;
}
.menu{

	padding-top:13px;
	float:right;
}
.menu a{
	font-size: 15px;
	text-decoration:none;
	color: black;
	font-weight:bold;
	text-align: center;
	margin-right: 15px;
}
.menu a:hover{
	text-decoration: underline;
	
	
}
.search {
	padding-top:13px;
	float:right;
	margin-right: 20px;	
}
.content{
	height: 460px;
	


}
.left{
	float:left;
	width: 200px;
	margin-top:20px;

}
.left a{	
	text-align: center;
	font-size: 18px;
	text-decoration:none;
	color:black;

}
.left div{
	border-radius: 6px;
	box-shadow: 3px 3px 8px black;
	text-shadow:3px 3px 3px #FFF;

}
.english{
	font-size: 12px;
}
.NUK{
	height: 55px;
	width: 200px;
	background: #FF8888;
	padding-top:25px;
}
.Administration{
	height: 50px;
	width: 90px;
	background: #FFBB66;
	margin-right:20px;
	margin-top:20px;
	float:left;
	padding-top:20px;
}
.Academics{
	height: 50px;
	width: 90px;
	background: #FFFF77;
	margin-top:20px;
	float:right;
	padding-top:20px;
}
.Research_Center{
	height: 52.5px;
	width: 200px;
	background: #66FF66;
	margin-top:110px;
	padding-top:22.5px;
}
.Admission{
	height: 47.5px;
	width: 90px;
	background: #77DDFF;
	margin-top:20px;
	margin-right:20px;
	float:left;
	padding-top:17.5px;
}
.QA{
	height: 47.5px;
	width: 90px;
	background: #9F88FF;
	margin-top:20px;
	float:right;
	padding-top:17.5px;
}
.Links{
	height: 50px;
	width: 200px;
	background: #E38EFF;
	margin-top:105px;
	padding-top:20px;
}
.right{
	float:right;
	width: 530px;
	margin-top:30px;
	margin-left:70px; 
	
}
.student h3{
	background: url(../images/guest.png) 40% 50% no-repeat;
	text-align: center;
	height: 48px;
	margin-bottom:30px;
	line-height: 48px;

}
.category{
	background: url(../images/stu.png) no-repeat;
	padding-left: 20px;
	height:30px;
}
.link{
	background: url(../images/dot.png) no-repeat;
	margin-top:10px; 
}
.link a{
	padding-left: 16px;
	font-size: 9px;
	color:#000;
	display: block;
	width: 180px;
	height: 30px;
	text-decoration: none;

}
.link a:hover{
	color:orange;
}
.clear{
  clear:both;
}
.footer{
	height: 50px;
	margin-top:25px;
}
.footer p{
	text-align: center;
	font-size: 10px;
}
